binding/rotated-cavity-atp
equilibration/rotated-cavity-atp
binding/solution-atp
equilibration/solution-atp
metadynamics/run1/run_c
metadynamics/run1/run_m
metadynamics/run2/run_c
metadynamics/run2/run_m
metadynamics/run3/run_c
metadynamics/run3/run_m
metadynamics/run4/run_c
metadynamics/run4/run_m
metadynamics/run5/run_c
metadynamics/run5/run_m
metadynamics/run*/run_c
metadynamics/run*/run_m
relaxation/run1/run_c
relaxation/run1/run_m
relaxation/run1/frame_extraction
relaxation/run*/run_c
relaxation/run*/run_m
relaxation/run*/frame_extraction
charmmgui
